*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    list-style-type: none;
    text-decoration: none;
}

header{
    max-width: 100vw;
    height: 10vh;
    margin-bottom: 2px;
    box-shadow: #1c1c1c1c 1px 1px 2px;
}
.inner-header{
    display: flex;
    height: 10vh;
    max-width: 100vw;
    align-items: center;
}
.logo{
    margin: 15px 50px;
}
.logimage{
    width: 50px;
    height: 50px;
    vertical-align: middle;    
}
.navbar{
    margin: auto 0px;
}
.navitems{
    display: inline-block;
    padding: 15px 35px;
}


                /*1 section start from here*/

.green-panel{
    height: 72px;
    background-color: #1e3932;
}



                /*main div start from here*/


.showcase{
    height: 40vh;
    display: flex;
    border: 1px solid;
    margin: 2px 20px;
}
div{
    height: 40vh;
}
.sec-img{
    height: 40vh;
}
.para{
    text-align: justify;
    padding: 38px;
}
.btn{
    display: inline-block;
    width: 40vw;
    padding: 20px;
    background-color: transparent;
    font-size: larger;
    margin: 50px 100px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.btn:hover{
    font-style: italic;
    color: sandybrown;
}
