*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #111;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}
header{
    background: #e3f2fd;    

}
.navbar-toggler{
    border: transparent;
}
.row{
    margin: 0 auto;
    display: block;
}
.title{
    text-align: center;
    font-size: 22px;
    line-height: 50px;
}
#demo{
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}
header .row{
    margin: 70px 0;
}



@media all and (min-width: 768px) {

    .title{
        font-size: 36px;
        line-height: 50px;
    }
    #demo{
        font-size: 16px;
        line-height: 30px;
    }
}